@import "../colors";
@import "../fonts";

body {
  font: {
    family: roboto;
    weight: 100 !important;
  }

}

.ui {
  &.modal {
    border: 1px solid $primarycolor !important;
    border-radius: 0.938rem !important;

    &.ahModal {
      margin: 1rem auto;
      padding: 1.25rem;
      width: 27rem;
    }
    }
    }

.ui.basic.button {
  border-radius: 0 !important;

  margin: {
    bottom: 3.125rem !important;
    top: 1.875rem !important;
  }

  &:hover {
    background: $primarycolor !important;
    color: $white !important;
    transition: 0.5s ease-in-out;
  }
}

h2 {
  &.header {
    border-bottom: 0;
    color: lighten($primarycolor, 53%);
    font: {
      size: 1.5rem;
      weight: 300;
    }
    margin-top: 1.25rem;
    text-transform: uppercase;
  }
}

hr {
  border: 0.125rem solid $black;
  margin: {
    bottom: 3.875rem;
    left: 0;
    top: -0.437rem;
  }
  width: 3.3rem;
}

h5 {
  font: {
    size: 0.813rem;
    weight: 200 !important;
  };

  margin: {
    bottom: 1.875rem !important;
    top: 3.125rem !important;
  }
  text-align: center;

  span {
    display: inline;

    a {
      color: $red;
    }

  }
}
