.articleReactions {
  margin: -10% 0 15% 14%;
  width: 90%;
  .rating {
    margin-top: 0rem;
  }
  .ui.widgetContainer.menu {
    width: 30%;
  }
}
.articleReactions .dates,
.articleReactions .articleComment {
  display: none;
}
.articleReactions i:not(:nth-child(2)) {
  margin-left: 10%;
}
.articleReactions i {
  cursor: pointer;
}

.articleReactions i.time.small.disabled.fitted.link.icon {
  display: none;
}

.articleReactions span.commentspan {
  display: none;
}
@media only screen and (min-width: 768px) {
  .articleReactions {
    margin: -5% 0 10% 14%;
  }
}

@media only screen and (min-width: 1024px) {
  .articleReactions {
    margin: -5% 0 10% 20%;
  }
}
