@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";

.ui {
  &.horizontal {
    &.divider {
      font: {
        size: 0.875rem;
        weight: 100;
      };
      text-transform: none;
    }
  }
}
