$primarycolor: #000;

 $black: #000000;

 $white: #ffffff;

 $red: #ff0000;

 $facebook: #3b5998;

 $twitter: #55acee;

 $google: #dc4e41;

 $linkedin: #0077b5;

 $headerColor: (#BEB9B9, 15%);

 $profileIconBackground: #C4C4C4;
 
 $profileIconColor: (#C4C4C4, 43%);
