$primarycolor: #000;

$black: #000000;

$white: #ffffff;

$red: #ff0000;

$facebook: #3b5998;

$twitter: #55acee;

$google: #dc4e41;

$linkedin: #0077b5;

$headerColor: (#beb9b9, 15%);

$profileIconBackground: #c4c4c4;

$profileIconColor: (#c4c4c4, 43%);

$SectionTitleebackground: (#f3f4f5);

$datecolor: (rgba(0, 0, 0, 0.8));

$articleText: (rgba(0, 0, 0, 0.4));
