.ui.block.header {
  border-width: 0em;
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0em;
  padding: 0;
  margin-bottom: 0.78em;
}

p {
  justify-content: center;
  background-color: black;
  width: fit-content;
  color: white;
  height: inherit;
  padding: 0.78571429rem 1rem;
  margin: 0em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 0.72em;
  text-transform: uppercase;
}
