i.icon {
  float: right;
  text-align: center;
  cursor: pointer;
}
.ui.modal > .header {
  margin: 0 0 2rem 0;
  border: none;
}

.ui.input > input {
  text-align: center;
  font-family: inherit;
  font-size: 2rem;
  border: {
    top:0;
    left: 0;
    right: 0;
    bottom: 0.2rem solid rgba(34, 36, 38, 0.15);
  }
}

  .ui.fullscreen.modal {
    width: 100% !important;
  }
.radioMargin {
  margin-right: .7rem;
  font-weight: 400;
}

.ui.segment {
  text-align: center;
}
