@import '../../styles/partials/colors';
@import '../../styles/partials/styles';

.content {
  width: 75%;
  padding-top: 1%;
}

.ui {
  &.grid {
    margin-bottom: 6px;
    margin-top: 0;
  }
  &.divided.grid:not([class*='vertically divided']) > {
    .column:first-child,
    .row > .column:first-child {
      padding: 0;
      padding-left: 0;
      margin: 0;
      width: 58%;
      box-shadow: none;
      margin-left: 15px;
    }
  }
  &[class*='vertically divided'].grid
    > .row:first-child
    > .column.tagContainer {
    margin-top: -35.5rem;
  }
}

.column {
  &.tagContainer {
    height: 30.5rem;
  }
  &.trending {
    height: 20.5rem;
  }
}

.ui {
  &.divided.list.tags {
    height: 13rem;
    > .item {
      width: fit-content;
      display: inline-flex;
      border-style: solid;
      border-radius: 5px;
      border-width: 1px;
      padding: 7px;
      margin: 3px;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
      border-top: 1px solid rgba(34, 36, 38, 0.15);
    }
  }
  &[class*='two column'].grid > {
    .column:not(.row),
    .row > .column {
      width: 40%;
      margin: 0 auto;
      margin-right: 0;
    }
  }
  &.input {
    width: 100%;
  }
}

.column.Advert {
  margin: 0;
  width: 20rem;
}

.rightGrid {
  .content {
    position: absolute !important;
    height: fit-content !important;
  }
}

.ui.divided.two.column.grid
  .column
  .ui.card.widgetIcons
  .content
  .ui.feed
  > .event
  > .content
  .summary {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Categories .itrem a.header {
  padding-top: 0.7rem;
}

img.ui.image.AdvertImg {
  margin: 0 auto;
  width: 70%;
  margin: 0 auto;
  width: 50%;
  margin-top: 8.8rem;
  display: block;
}

.main .ui {
  &.basic.black {
    &.button,
    &.buttons .button {
      float: right;
      width: 45%;
      margin-right: 0;
      border-radius: 0;
    }
  }
  &.input > input {
    border-color: black;
    border-radius: 0;
  }
  &.card,
  &.cards > .card {
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    margin: 0;
  }
  &[class*='vertically divided'].grid > {
    .column:not(.row),
    .row > .column {
      padding: 0;
    }
  }
  &.label {
    background-color: transparent;
    float: right;
  }
  &.card > .content,
  &.cards > .card > .content {
    position: inherit;
    width: 95%;
    bottom: 0;
    color: white;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    background: 0 0;
    margin: 0;
    padding: 1rem 1rem;
    padding-left: 0.5rem;
    padding-top: 0;
    box-shadow: none;
    font-size: 1rem;
    border-radius: 0;
    padding-bottom: 0;
  }

  .column .rightGrid {
    .header {
      color: white;
      padding: 0.8rem;
      text-transform: uppercase;
    }

    .description {
      padding: 0.8em;
      color: black;
    }
  }
}

.title,
.header {
  color: white;
}

.ui.card.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 12px;
  text-align: justify;
  color: $articleText;
  box-shadow: none;
  margin: 0;
  border-width: 0 !important;
}

.main {
  display: flex;
}

.ui {
  &.vertically.divided.grid.side {
    width: 27%;
    margin-top: 0.2rem;
    margin-left: 2rem;
  }
  &.divided.two.column.grid .row {
    padding-top: 1.5em;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
  &.container.two.column.grid.reveal .column {
    padding: 2px !important;
    width: 50%;
    padding: 5px;
    overflow: hidden;
    img.ui.image {
      width: 100%;
    }
    .ui.card.description {
      &:hover {
        top: 0%;
      }
      position: absolute;
      z-index: 3;
      background-color: transparent;
      color: white;
      overflow: hidden;
      top: 75%;
      height: 98%;
      border-style: none;
      padding: 5%;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.5);
      transition: top 0.5s;
      width: 98%;
      margin-left: 0.5%;
    }
  }
  &.fade.reveal > .visible.content {
    top: 80% !important;
    width: 100%;
    color: white;
    visibility: visible;
    opacity: 1;
  }
  .ui.feed > .event > .content .summary {
    height: auto;
  }
}

p.popular.title {
  background-color: transparent;
  text-align: center;
  width: 100%;
  height: 20%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 2px;
}

.ui {
  &.reveal > .hidden.content {
    width: 100%;
    position: relative !important;
    z-index: 2 !important;
  }
  &.fade.reveal > .visible.content#hide:hover {
    top: 80% !important;
    width: 100%;
    color: $white;
    opacity: 1;
  }
}

p.articleDescription {
  background: transparent;
  height: 100%;
  position: inherit;
  top: -2.6rem;
}

.ui {
  &.list {
    .list > .item a.header,
    > .item a.header {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 13px;
      color: $articleText !important;
      cursor: pointer;
    }
  }
  &.container.two.column.grid.reveal {
    width: 97% !important;
    margin: 0 auto;
  }
}

.actions {
  width: 70%;
  margin: 0 auto;
}

.ui.divided.grid:not([class*='vertically divided']) > .column:not(.row),
.ui.divided.grid:not([class*='vertically divided']) > .row > .column {
  box-shadow: none;
  padding-left: 0;
}
.ui[class*='vertically divided'].grid > .row:first-child > .column {
  margin-top: 0.95rem;
  margin-bottom: 0.7rem;
}

a.header {
  color: grey !important;
}

.ui.divided.list.tags > .category .item {
  width: fit-content;
  display: inline-flex;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 7px;
  margin: 3px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;
  color: $articleText;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.one.column.row {
  &.label {
    text-align: center;
  }
  &.content {
    margin: 0;
  }
}

.ui.vertically.divided.grid.side {
  .date {
    font-size: 0.8rem;
  }
  .ui.feed > .event > .label img {
    width: 80%;
  }

  .ui.feed > .event {
    height: 5.52em;
  }

  .ui.feed > .event > .label + .content {
    margin: 0;
  }
}

.NewsLetter button.ui.black.basic.button {
  margin: 1rem;
  margin-right: 0;
}

.Categories .item {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;
  color: $articleText;
}

.item.morelink {
  border-bottom: 0;
  border-top: 0;
}

.Categories .ui.relaxed.list:not(.horizontal) > .item:not(:first-child) {
  border-style: none;
}

p.descriptionBody {
  height: 8rem;
}

@media only screen and (max-width: 1200px) {
  .main {
    display: block;
  }

  .content {
    width: 100%;
  }

  .ui.vertically.divided.grid.side {
    width: 100%;
    margin-top: 0.2rem;
    margin-left: 0rem;
  }

  .ui[class*='two column'].grid > .column:not(.row),
  .ui[class*='two column'].grid > .row > .column {
    width: 100%;
  }

  .ui.divided.grid:not([class*='vertically divided'])
    > .row
    > .column:first-child {
    padding: 5%;
    width: 100%;
    box-shadow: none;
    margin-left: 15px;
  }

  .column.Advert img.ui.image {
    margin: 0 auto;
    width: 90%;
    margin: 0 auto;
    width: 30%;
    margin-top: 2.8rem;
  }
}

.homeloader.ui.segment {
  min-height: calc(80vh - 5rem);
  margin-top: 1rem;
  .img {
    width: 70%;
  }
}
