.ui.form .fields.name-fields {
  margin-bottom: 0;
  display: flex;
}
.ui.form .fields .formGroup {
  width: 100%;
  padding-left: .5em;
  padding-right: .5em;

  .field {
    margin-bottom: 1rem;
  }
}

input#_signUpPassword,input#signUpPassword {
  width: 20rem !important;
  margin: {
    left: 0.4rem;
    bottom: 0.4rem
  }
}

.ui.form {
a {
    top: 55% !important;
    font-size: 0.7rem !important;
    line-height: 15px !important;
    background: rgba(226, 226, 226, 0.33) !important;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
.ui.form .fields .formGroup  {
  width: 50%
}
}
@media (max-width: 767px) {
input#_signUpPassword,input#signUpPassword{
  width: 17.8rem !important;
}
}
.accountCreated {
  color: #fff;
  margin-bottom: 3rem;
  font-family: inherit;
  font-weight: 400;
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgb(11, 114, 23);
}
