.ui.block.header {
  background: #f3f4f5;
  border-radius: 0;
  border-width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0.78rem;
  padding: 0;
}

p {
  background-color: #000000;
  color: #ffff;
  font-family: Roboto;
  font-size: 0.72rem;
  font-style: normal;
  font-weight: 500;
  height: inherit;
  justify-content: center;
  line-height: normal;
  margin: 0;
  padding: 0.78571429rem 1rem;
  text-transform: uppercase;
  width: fit-content;
}
