input#_password,input#password{
  width: 21rem !important;
}

.ui.form {
a {
    top: 55% !important;
    font-size: 0.7rem !important;
    line-height: 15px !important;
    background: rgba(226, 226, 226, 0.33) !important;
}
}