.menu.SocialMediaContainer {
  background-color: transparent;

  &.right {
    margin-right: 7.5rem;
    font-size: 1.1rem;
  }

  .item.socialMediaIcons {
    border-right: 1.3px solid #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    &:last-child {
      border-right: 0;
    }
    .socialMediaIcon {
      color: #ffffff;
    }

    &.smallIconPadding {
      align-self: center;
      padding: 0 1rem;
    }

    &.bigIconPadding {
      align-self: center;
      padding: 0 3.5rem;
      font-size: 1rem;
    }
  }
}
